<!-- newsletter -->
<div class="products-breadcrumb">
    <div class="container">
        
    </div>
</div>

<!-- //newsletter -->
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="col-md-3 w3_footer_grid">
            <h3>information</h3>
            <ul class="w3_footer_grid_list">
                <li><a href="#">Events</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Best Deals</a></li>
            </ul>
        </div>
        <div class="col-md-3 w3_footer_grid">
            <h3>policy info</h3>
            <ul class="w3_footer_grid_list">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">privacy policy</a></li>
                <li><a href="#">terms of use</a></li>
            </ul>
        </div>
        <div class="col-md-3 w3_footer_grid">
            <h3>what in stores</h3>
            <ul class="w3_footer_grid_list">
                <li><a href="#">Pet Food</a></li>
                <li><a href="#">Frozen Snacks</a></li>
                <li><a href="#">Kitchen</a></li>
                
            </ul>
        </div>
        <div class="col-md-3 w3_footer_grid">
            <h3>what in stores</h3>
            <ul class="w3_footer_grid_list">
                <li><a href="#">Pet Food</a></li>
                <li><a href="#">Frozen Snacks</a></li>
                <li><a href="#">Kitchen</a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
        <div class="agile_footer_grids">
            
           
            <div class="clearfix"> </div>
        </div>
        <div class="wthree_footer_copy">
            <p>© 2016 Grocery Store. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
        </div>
    </div>
</div>
<!-- ./footer -->