
{% extends "base2.html" %}
{% load static %}
{% block title %}
  About Us
{% endblock %}
{% block content %}

<div class="w3l_banner_nav_right">
    <!-- about -->
            <div class="privacy about">
                <h3>About Us</h3>
                <p class="animi">This week, as part of another project for Pet Business magazine, I’ve been talking to a number of
                    industry
                    veterans—people who have been in the industry for decades, who have seen its rise and evolution, and who have
                    helped, in many ways, shape it into what it’s become.
            
                    The rich history in the industry is something that fascinates me—for example, did you know that the first pet
                    stores mostly catered to birds, in the 1840s?
            
                    Or that the pet food industry began when one man watched sailors feeding dogs dry biscuits on the docks in
                    approximately 1860, and decided to create the first commercially prepared pet food to sell to English country
                    gentlemen for sporting dogs? (That first diet was made up of a mix of wheat meals, vegetables, beetroot and beef
                    blood. Forget about the “protein first” expectations of many consumers today.)
            
                    A century later, the 1960s saw the launch of the first national pet store franchise, and by 1970, the fledgling
                    pet industry was being shaped and helped along by two organizations that continue in that role today. The
                    American Pet Products Association (APPA)—back then called the American Pet Product Manufacturer’s
                    Association—was founded in 1958, with the Pet Industry Distributors Association (PIDA) conceived 10 years later,
                    in 1968.
            
                    Industry veterans share that when they used to claim they worked “in the pet industry,” they were greeted with
                    laughter. Back then, they say, the industry was all about the industrious entrepreneur—those souls who saw the
                    potential in it and decided to invest.
            
                    Small manufacturers, family-owned distributors, and mom-and-pop pet stores all worked together to help create
                    what we have today.
            
                    Today, the industry is unrecognizable from what it was in those early days, bringing in over $69 billion dollars
                    in 2017 alone. It’s incredibly diverse, from small independently owned business to huge multi-billion dollar
                    brands. And it continues to grow.
            
                    But I want to take a minute to just appreciate all that history… and note that much of it, unfortunately, has
                    not been written down. With Global Pet Expo just around the corner, I’d like to recommend everyone who plans to
                    attend try to squeeze in just one more meeting this show…find an industry veteran to buy a cup of coffee and ask
                    about the early days.</p>
                <div class="agile_about_grids">
                    <div class="col-md-6 agile_about_grid_right">
                        <img src="/media/31.jpg" alt=" " class="img-responsive" />
                    </div>
                    <div class="col-md-6 agile_about_grid_left">
                        <ol>
                            <li>laborum et dolorum fuga</li>
                            <li>corrupti quos dolores et quas</li>
                            <li>est et expedita distinctio</li>
                            <li>deleniti atque corrupti quos</li>
                            <li>excepturi sint occaecati cupiditate</li>
                            <li>accusamus et iusto odio</li>
                        </ol>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
    <!-- //about -->
            </div>
            <div class="clearfix"></div>
        </div>
    <!-- //banner -->
    <!-- team -->
        <div class="team">
            <div class="container">
                <h3>Meet Our Amazing Team</h3>
                <div class="agileits_team_grids">
                    <div class="col-md-3 agileits_team_grid">
                        <img src="/media/32.jpg" alt=" " class="img-responsive" />
                        <h4>Martin Paul</h4>
                        <p>Manager</p>
                        <ul class="agileits_social_icons agileits_social_icons_team">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 agileits_team_grid">
                        <img src="/media/33.jpg" alt=" " class="img-responsive" />
                        <h4>Michael Rick</h4>
                        <p>Supervisor</p>
                        <ul class="agileits_social_icons agileits_social_icons_team">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 agileits_team_grid">
                        <img src="/media/34.jpg" alt=" " class="img-responsive" />
                        <h4>Thomas Carl</h4>
                        <p>Supervisor</p>
                        <ul class="agileits_social_icons agileits_social_icons_team">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 agileits_team_grid">
                        <img src="/media/35.jpg" alt=" " class="img-responsive" />
                        <h4>Laura Lee</h4>
                        <p>CEO</p>
                        <ul class="agileits_social_icons agileits_social_icons_team">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    <!-- //team -->
    <!-- testimonials -->
        <div class="testimonials">
            <div class="container">
                <h3>Testimonials</h3>
                    <div class="w3_testimonials_grids">
                        <div class="wmuSlider example1 animated wow slideInUp" data-wow-delay=".5s">
                            <div class="wmuSliderWrapper">
                                <article style="position: absolute; width: 100%; opacity: 0;"> 
                                    <div class="banner-wrap">
                                        <div class="col-md-6 w3_testimonials_grid">
                                            <p><i class="fa fa-quote-right" aria-hidden="true"></i>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
                                                voluptatibus maiores alias consequatur aut perferendis doloribus asperiores 
                                                repellat.</p>
                                            <h4>Andrew Smith <span>Customer</span></h4>
                                        </div>
                                        <div class="col-md-6 w3_testimonials_grid">
                                            <p><i class="fa fa-quote-right" aria-hidden="true"></i>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
                                                voluptatibus maiores alias consequatur aut perferendis doloribus asperiores 
                                                repellat.</p>
                                            <h4>Thomson Richard <span>Customer</span></h4>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </article>
                                <article style="position: absolute; width: 100%; opacity: 0;"> 
                                    <div class="banner-wrap">
                                        <div class="col-md-6 w3_testimonials_grid">
                                            <p><i class="fa fa-quote-right" aria-hidden="true"></i>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
                                                voluptatibus maiores alias consequatur aut perferendis doloribus asperiores 
                                                repellat.</p>
                                            <h4>Crisp Kale <span>Customer</span></h4>
                                        </div>
                                        <div class="col-md-6 w3_testimonials_grid">
                                            <p><i class="fa fa-quote-right" aria-hidden="true"></i>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
                                                voluptatibus maiores alias consequatur aut perferendis doloribus asperiores 
                                                repellat.</p>
                                            <h4>John Paul <span>Customer</span></h4>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </article>
                                <article style="position: absolute; width: 100%; opacity: 0;"> 
                                    <div class="banner-wrap">
                                        <div class="col-md-6 w3_testimonials_grid">
                                            <p><i class="fa fa-quote-right" aria-hidden="true"></i>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
                                                voluptatibus maiores alias consequatur aut perferendis doloribus asperiores 
                                                repellat.</p>
                                            <h4>Rosy Carl <span>Customer</span></h4>
                                        </div>
                                        <div class="col-md-6 w3_testimonials_grid">
                                            <p><i class="fa fa-quote-right" aria-hidden="true"></i>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
                                                voluptatibus maiores alias consequatur aut perferendis doloribus asperiores 
                                                repellat.</p>
                                            <h4>Rockson Doe <span>Customer</span></h4>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <script src="js/jquery.wmuSlider.js"></script> 
                        <script>
                            $('.example1').wmuSlider();         
                        </script> 
                    </div>
            </div>
        </div>
          
{% endblock %}