{% load static %}
<!-- header bar above navigation -->
<div class="agileits_header">
    <div class="w3l_offers">
        <a href="products.html">Electronics</a>
    </div>
    <div class="w3l_search">
        <form class="form-inline" action="{% url 'product_search' %}" method="GET">
            <input class="form-control mr-sm-2" name="keywords" type="text"
                {% if 'search' in request.path %} value="{{ search_keywords }}" {% else %}
                placeholder="Search" {% endif %} aria-label="Search">
            <button class="search-btn" type="submit" aria-label="Search"><i
                    class="fas fa-search"></i></button>
        </form>
    </div>
    <div class="product_list_header">  
        <form action="" method="post" class="last">
            <fieldset>
                <input type="hidden" name="cmd" value="_cart" />
                <input type="hidden" name="display" value="1" />
                <input type="submit" name="submit" value="View your cart" class="button" />
            </fieldset>
        </form>
       
    </div>
    
    <div class="w3l_header_right">
        <ul>
            <li class="dropdown profile_details_drop">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i><span class="caret"></span></a>
                <div class="mega-dropdown-menu">
                    <div class="w3ls_vegetables">
                        <ul class="dropdown-menu drp-mnu">
                            <li><a href="login.html">Login</a></li> 
                            <li><a href="login.html">Sign Up</a></li>
                        </ul>
                    </div>                  
                </div>	
            </li>
        </ul>
    </div>
    <div class="w3l_header_right1">
        <h2><a href="mail.html">Contact Us</a></h2>
    </div>
    <div class="clearfix"> </div>
</div>
<script>
	$(document).ready(function() {
		 var navoffeset=$(".agileits_header").offset().top;
		 $(window).scroll(function(){
			var scrollpos=$(window).scrollTop(); 
			if(scrollpos >=navoffeset){
				$(".agileits_header").addClass("fixed");
			}else{
				$(".agileits_header").removeClass("fixed");
			}
		 });
		 
	});
	</script>

<div class="logo_products">
    <div class="container">
        <div class="w3ls_logo_products_left">
            <h1><a href="#"><span>Grocery</span> Store</a></h1>
        </div>
        <div class="w3ls_logo_products_left1">
            <ul class="special_items">
                <li class="nav-item {% if request.path == '' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'home' %}">Home
                        {% if request.path == '' %}<span class="sr-only">(current)</span>{% endif %}
                    </a>
                    <i>/</i></li>
                <li class="nav-item {% if 'products' in request.path %}active{% endif %}">
                    <a href="{% url 'product_list' %}" class="nav-link">Products
                        {% if 'products' in request.path %}<span class="sr-only">(current)</span>{% endif %}
                    </a>
                    <i>/</i> </li>
                <li class="nav-item {% if 'about' in request.path %}active{% endif %}">
                    <a href="{% url 'about' %}" class="nav-link">About
                        {% if 'about' in request.path %}<span class="sr-only">(current)</span>{% endif %}
                    </a>
                    <i>/</i></li>
                    {% if user.is_authenticated %}
                    <li
                        class="nav-item {% if 'accounts' in request.path and 'logout' not in request.path %}active{% endif %}">
                        <a href="{% url 'account_profile' %}" class="nav-link">Profile
                            {% if 'accounts' in request.path and 'logout' not in request.path %}<span
                                class="sr-only">(current)</span>{% endif %}
                        </a>
                        <i>/</i></li>
                    <li
                        class="nav-item {% if 'history' in request.path and 'logout' not in request.path %}active{% endif %}">
                        <a href="{% url 'order_history' %}" class="nav-link">Order History
                            {% if 'history' in request.path and 'logout' not in request.path %}<span
                                class="sr-only">(current)</span>{% endif %}
                        </a>
                        <i>/</i></li>
                    <li class="nav-item {% if 'logout' in request.path %}active{% endif %}">
                        <a href="{% url 'account_logout' %}" class="nav-link">Logout
                            {% if 'logout' in request.path %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                        <i>/</i></li>
                    {% else %}
                    <li class="nav-item {% if 'signup' in request.path %}active{% endif %}">
                        <a href="{% url 'account_signup' %}" class="nav-link">Register
                            {% if 'signup' in request.path %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                        <i>/</i></li>
                    <li class="nav-item {% if 'login' in request.path %}active{% endif %}">
                        <a href="{% url 'account_login' %}" class="nav-link">Login
                            {% if 'login' in request.path %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                        <i>/</i></li>
                        
                    {% endif %}
                    <li>
                        {% if request.user.is_authenticated %}
                        <i class="fa fa-user pr-1"></i> {{ user.first_name|title }}
    
                        {% else %}
                        <a class="header-login" href="{% url 'account_login' %}"><i class="fa fa-user"></i> Login</a>
                        {% endif %}
                    </li>
                
            </ul>
        </div>
        
       
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //header -->
<!-- products-breadcrumb -->
<div class="products-breadcrumb">
    <div class="container">
        <ul>
            <li><i class="fa fa-home" aria-hidden="true"></i><a href="#">Home</a><span>|</span></li>
            <li>Events</li>
        </ul>
    </div>
</div>

<!-- banner -->
<div class="banner">
    <div class="w3l_banner_nav_left">
        <nav class="navbar nav_bottom">
         <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header nav_2">
              <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
           </div> 
           <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav nav_1">
                    <li><a href="/Product">Branded Foods</a></li>
                    <li><a href="/Household">Households</a></li>
                    <li class="dropdown mega-dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Veggies & Fruits<span class="caret"></span></a>				
                        <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
                            <div class="w3ls_vegetables">
                                <ul>	
                                    <li><a href="vegetables.html">Vegetables</a></li>
                                    <li><a href="vegetables.html">Fruits</a></li>
                                </ul>
                            </div>                  
                        </div>				
                    </li>
                    <li><a href="kitchen.html">Kitchen</a></li>
                    <li><a href="short-codes.html">Short Codes</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Beverages<span class="caret"></span></a>
                        <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
                            <div class="w3ls_vegetables">
                                <ul>
                                    <li><a href="drinks.html">Soft Drinks</a></li>
                                    <li><a href="drinks.html">Juices</a></li>
                                </ul>
                            </div>                  
                        </div>	
                    </li>
                    <li><a href="pet.html">Pet Food</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Frozen Foods<span class="caret"></span></a>
                        <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
                            <div class="w3ls_vegetables">
                                <ul>
                                    <li><a href="frozen.html">Frozen Snacks</a></li>
                                    <li><a href="frozen.html">Frozen Nonveg</a></li>
                                </ul>
                            </div>                  
                        </div>	
                    </li>
                    <li><a href="bread.html">Bread & Bakery</a></li>
                </ul>
             </div><!-- /.navbar-collapse -->
        </nav>
    </div>
    <div class="w3l_banner_nav_right">
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="w3l_banner_nav_right_banner">
                            <h3>Make your <span>food</span> with Spicy.</h3>
                            <div class="more">
                                <a href="products.html" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="w3l_banner_nav_right_banner1">
                            <h3>Make your <span>food</span> with Spicy.</h3>
                            <div class="more">
                                <a href="products.html" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="w3l_banner_nav_right_banner2">
                            <h3>upto <i>50%</i> off.</h3>
                            <div class="more">
                                <a href="products.html" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- flexSlider -->
            <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" property="" />
            <script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
            <script type="text/javascript">
            $(window).load(function(){
              $('.flexslider').flexslider({
                animation: "slide",
                start: function(slider){
                  $('body').removeClass('loading');
                }
              });
            });
          </script>
        <!-- //flexSlider -->
    </div>
    <div class="clearfix"></div>
</div>
<!-- banner -->

<!-- menu navbar -->

<!-- ./menu navbar -->